{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <h4>意志はありますか？</h4>
            <h4>人間性を変えることができる技術についてご意見を教えてください。</h4>

            <form action="{{path('gene_questionnaire_user_jp')}}">
                <input type="submit" value="アンケートを開始">
            </form>
        </div>

        <br>

        <p>{{content[11].question}}</p>
        <p>{{content[12].question}}</p>
        <p>{{content[13].question}}</p>

    </body>

{% endblock %}