{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>
        {% if question.id < 6 %}
            <div class="container">
                <p>How much do you agree with the use of genetic editing of cells in {{ question.question }}</p> 
            </div> 
            <form action="{{path('gene_questionnaire_save_answer', {'id': question.id, 'user': user})}}" method="post">
                <input type="radio" name="answer" value="SA" required value="SA"> Strongly Agree<br>
                <input type="radio" name="answer" value="A"> Agree<br>
                <input type="radio" name="answer" value="N"> Neutral<br>
                <input type="radio" name="answer" value="D"> Disagree<br>
                <input type="radio" name="answer" value="SD"> Strongly Disagree<br>
                <input type="radio" name="answer" value="IDK"> I don’t Know<br>
                <br>
                <input type="submit" value="Next">
            </form>

        {% elseif question.id < 9 %}

            <div class="container">
                <p>If you could safely genetically edit your embryo would you use this technology to determine: {{ question.question }}</p> 
            </div> 
            <form action="{{path('gene_questionnaire_save_answer', {'id': question.id, 'user': user})}}" method="post">
                <input type="radio" name="answer" value="YES" required value="YES"> Yes<br>
                <input type="radio" name="answer" value="NO"> No<br>
                <br>
                <input type="submit" value="Next">

            </form>

        {% elseif question.id == 9 %}    

            <div class="container">
                <p>If you could safely genetically edit your embryo would you use this technology to determine: {{ question.question }}</p> 
            </div>
            <form action="{{path('gene_questionnaire_save_answer', {'id': question.id, 'user': user})}}" method="post">
                <input type="text" name="answer">
                <input type="submit" value="Next">
            </form>

        {% elseif question.id == 10 %}

            <div class="container">
                <p>{{ question.question }}</p> 
            </div> 
            <form action="{{path('gene_questionnaire_save_answer', {'id': question.id, 'user': user})}}" method="post">
                <input type="radio" name="answer" value="SA" required value="SA"> Strongly Agree<br>
                <input type="radio" name="answer" value="A"> Agree<br>
                <input type="radio" name="answer" value="N"> Neutral<br>
                <input type="radio" name="answer" value="D"> Disagree<br>
                <input type="radio" name="answer" value="SD"> Strongly Disagree<br>
                <input type="radio" name="answer" value="IDK"> I don’t Know<br>
                <br>
                <input type="submit" value="Next">

            </form>

        {% else %}

            <div class="container">
                <p>{{ question.question }}</p> 
            </div> 
            <form action="{{path('gene_questionnaire_save_answer', {'id': question.id, 'user': user})}}" method="post">
                <input type="text" name="answer">
                <input type="submit" value="Next">

            </form>

        {% endif %}

        {% if question.id == 1 %}
        {% else %}
            <form action="{{path('gene_questionnaire_question', {'id': (question.id - 1), 'user': user})}}">
                <input type="submit" value="Back">
            </form>
        {% endif %}

        <br>

        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>A life threatening genetic disease is one that will lead to a premature death.</td>
                    </tr>
                    <tr>
                        <td>A debilitating genetic disease is one that reduces a person’s function or quality of life.</td>
                    </tr>
                    <tr>
                        <td>An embryo is an early stage of an unborn baby or foetus.</td>
                    </tr>
                    <tr>
                        <td>Genome engineering an embryo will generally mean that all future generations would have the edited version of the genome. This means the disease or condition could NOT be passed on to their children.</td>
                    </tr>
                    <tr>
                        <td>Genome engineering a child or adult will generally mean that all future generations will NOT have the edited version of the genome. This means the disease or condition could be passed on to their children.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

{% endblock %}