{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    मानव जीन संपादन
{% endblock %}

{% block progress %}
    {% if questions == null %}
        {% if question.id < 6 %}
            <img src="{{ asset('bundles/genequestionnaire/img/' ~ question.id ~ '.png') }}" >
        {% else %}
            <img src="{{ asset('bundles/genequestionnaire/img/' ~ (question.id-4) ~ '.png') }}" >
        {% endif %}
    {% else %}
        <img src="{{ asset('bundles/genequestionnaire/img/5.png') }}" >
    {% endif %}
{% endblock %}

{% block content %}
    {% if questions == null %}
        {% if question.id < 6 %}
            <div class="container">
                <p>आपकोशिकाओं(cell)केआनुवंशिकसंपादन(genetic editing)केउपयोगकेbaare me साथकितनेसहमतहै {{ question.question }}</p> 
            </div> 
            <form action="{{path('gene_questionnaire_save_answer_hn', {'id': question.id, 'user': user})}}" method="post">
                <input type="radio" name="answer" value="SA" required value="SA"> दृढ़तापूर्वकसहमत<br>
                <input type="radio" name="answer" value="A"> सहमत<br>
                <input type="radio" name="answer" value="N"> तटस्थ<br>
                <input type="radio" name="answer" value="D"> असहमत<br>
                <input type="radio" name="answer" value="SD"> दृढ़तापूर्वकअसहमत<br>
                <input type="radio" name="answer" value="IDK"> मुझेनहींपता<br>
                <br>
                <input class="btn btn-primary btn-lg" type="submit" value="अगला">
            </form>

        {% elseif question.id == 10 %}

            <div class="container">
                <p>{{ question.question }}</p> 
            </div> 
            <form action="{{path('gene_questionnaire_save_answer_hn', {'id': question.id, 'user': user})}}" method="post">
                <input type="radio" name="answer" value="SA" required value="SA"> दृढ़तापूर्वकसहमत<br>
                <input type="radio" name="answer" value="A"> सहमत<br>
                <input type="radio" name="answer" value="N"> तटस्थ<br>
                <input type="radio" name="answer" value="D"> असहमत<br>
                <input type="radio" name="answer" value="SD"> दृढ़तापूर्वकअसहमत<br>
                <input type="radio" name="answer" value="IDK"> मुझेनहींपता<br>
                <br>
                <input class="btn btn-primary btn-lg" type="submit" value="अगला">

            </form>

        {% else %}

            <div class="container">
                <p>{{ question.question }}</p> 
            </div> 
            <form action="{{path('gene_questionnaire_save_answer_hn', {'id': question.id, 'user': user})}}" method="post">
                <textarea name="answer" rows="4" cols="50"></textarea>
                <br><br>
                <input class="btn btn-primary btn-lg" type="submit" value="अगला">

            </form>

        {% endif %}

    {% else %}

        <div class="container">
            <p>अगरआपसुरक्षितरूपसेअपनेभ्रुणकाआनुवंशिकसंपादनकरसकतेहैतोक्याआपइसतकनीककाप्रयोगयहनिर्धारितकरनेकेलिएकरेंगे:</p> 
        </div> 
        <form action="{{path('gene_questionnaire_save_answer_hn', {'id': questions[5].id, 'user': user})}}" method="post">
            {{ questions[5].question }}<br>
            <input type="radio" name="answer1" value="YES" required value="YES"> हाँ
            <input type="radio" name="answer1" value="NO"> नहीं<br><br>
            {{ questions[6].question }}<br>
            <input type="radio" name="answer2" value="YES" required value="YES"> हाँ
            <input type="radio" name="answer2" value="NO"> नह<br><br>
            {{ questions[7].question }}<br>
            <input type="radio" name="answer3" value="YES" required value="YES"> हाँ
            <input type="radio" name="answer3" value="NO"> नह<br><br>
            {{ questions[8].question }}<br>
            <input type="text" name="answer4" size="35">
            <br><br>
            <input class="btn btn-primary btn-lg" type="submit" value="अगला">
        </form>

    {% endif %}

    <br>

    {% if questions == null %}
        {% if question.id == 1 %}
        {% elseif question.id == 10 %}
            <form action="{{path('gene_questionnaire_question_hn', {'id': 5, 'user': user})}}">
                <input class="btn btn-primary btn-lg" type="submit" value="पिछला">
            </form>
        {% else %}
            <form action="{{path('gene_questionnaire_question_hn', {'id': (question.id-1), 'user': user})}}">
                <input class="btn btn-primary btn-lg" type="submit" value="पिछला">
            </form>
        {% endif %}
        <br>
        <div class="table-responsive">
            <b>पृष्ठभूमि के रूप में…</b>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>जीवनको भय स्वरुपआनुवांशिकबीमारी अकालमृत्युकोन्यौतादेसकतीहै| एकदुर्बलआनुवंशिकरोगव्यक्तिके जीवनकीकार्यकरनेकी क्षमताऔर गुणवत्ताकोकमकरदेताहै|</td>
                    </tr>
                    <tr>
                        <td>भ्रूण,अजन्मेबच्चेया गर्भ काप्रारंभिकचरण है।</td>
                    </tr>
                    <tr>
                        <td>एम्ब्रीओ इंजीनियरिंगजीनोमकामतलबहोगाकि भविष्यकी सब पीढ़ियाँमें जीनोमकेसंपादितसंस्करणहोगे| इसकामतलबहैयहबीमारीयाहालतउनके बच्चों तक नहीं जायेगी </td>
                    </tr>
                    <tr>
                        <td>एकबच्चेयावयस्क काजीनोमइंजीनियरिंगकामतलब भविष्यकिसब पीढ़ियोंमें जीनोमकेसंपादितसंस्करणनहीं आएँगे</td>
                    </tr>
                    <tr>
                        <td>इसकाअर्थयहहैकिइसबीमारीयाहालतउनकेबच्चोंमेंआगे जा सकती है|</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <form action="{{path('gene_questionnaire_question_hn', {'id': 5, 'user': user})}}">
            <input class="btn btn-primary btn-lg" type="submit" value="पिछला">
        </form>
    {% endif %}
{% endblock %}